@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: #dbdee1;
  background-color: #313338;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 4px;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111214;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
